<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <!--<add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->
    <add name="Entities" connectionString="Data Source=MACKI-KOMPUTER\SQLEXPRESS;Database=GestureRecognitionData; Trusted_Connection=yes; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
